[Desktop Entry]
Name=Visual Studio Code
Comment=Code Editing. Redefined.
GenericName=Code Editor
Exec=/usr/bin/code %F
Icon=/usr/share/icons/hicolor/1024x1024/apps/code.png
Type=Application
StartupWMClass=Code
Categories=Development;
MimeType=text/plain;inode/directory;x-scheme-handler/vscode;

